<?xml version="1.0" encoding="utf-8"?>
<!-- Replace com.test.game with the identifier of your game below, e.g.
     com.gamemaker.game
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="auto">

    <!-- OpenGL ES 2.0 -->
<!--    <uses-feature android:glEsVersion="0x00020000" />-->

    <!-- Touchscreen support -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- Game controller support -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <!-- External mouse input events -->
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />

    <!-- Audio recording support -->
    <!-- if you want to capture audio, uncomment this. -->
    <!-- <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" /> -->

    <!-- Allow downloading to the external storage on Android 5.1 and older -->
    <!-- 写入权限申请 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="22" />
    <!-- 读取权限申请 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="22" />

    <!-- 媒体图库权限申请 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    
    <!-- 媒体视频权限申请 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- 媒体音频权限申请 -->
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- 申请所有文件权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />   

    <!-- Allow access to Bluetooth devices -->
    <!-- Currently this is just for Steam Controller support and requires setting SDL_HINT_JOYSTICK_HIDAPI_STEAM -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" /> -->
    <!-- <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> -->

    <!-- Allow access to the vibrator -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- if you want to capture audio, uncomment this. -->
    <!-- <uses-permission android:name="android.permission.RECORD_AUDIO" /> -->

    <!-- Create a Java class extending SDLActivity and place it in a
         directory under app/src/main/java matching the package, e.g. app/src/main/java/com/gamemaker/game/MyGame.java
 
         then replace "SDLActivity" with the name of your class (e.g. "MyGame")
         in the XML below.

         An example Java class can be found in README-android.md
    -->
    <application android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true" 
        >

        <!-- Example of setting SDL hints from AndroidManifest.xml:
        <meta-data android:name="SDL_ENV.SDL_ACCELEROMETER_AS_JOYSTICK" android:value="0"/>
         -->
        <activity android:name="SDLActivity"
            android:label="@string/app_name"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleInstance"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:preferMinimalPostProcessing="true"
            android:exported="true"
            android:screenOrientation="sensor">
            >
<!--            android:screenOrientation支持的属性。众所周知，Android应用程序中，android:screenOrientation用于控制activity启动时方向，取值可以为：-->
<!--            unspecified，默认值，由系统决定，不同手机可能不一致-->
<!--            landscape，强制横屏显示-->
<!--            portrait，强制竖屏显-->
<!--            behind，与前一个activity方向相同-->
<!--            sensor，根据物理传感器方向转动，用户90度、180度、270度旋转手机方向，activity都更着变化-->
<!--            sensorLandscape，横屏旋转，一般横屏游戏会这样设置-->
<!--            sensorPortrait，竖屏旋转-->
<!--            nosensor，旋转设备时候，界面不会跟着旋转。初始化界面方向由系统控制-->
<!--            user，用户当前设置的方向-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Let Android know that we can handle some USB devices and should receive this event -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <!-- Drop file event -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            -->

        </activity>
        
    </application>

</manifest>
